In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np 

framingham = pd.read_csv('framingham.csv')
framingham

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [9]:
non_smoker = framingham.loc[framingham['currentSmoker'] == 0]
non_smoker

smoker = framingham.loc[framingham['currentSmoker'] == 1]
smoker

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,1,58,1.0,0,0.0,0.0,0,0,0,233.0,125.5,84.0,26.05,67.0,76.0,1
4228,0,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [11]:
group_non_smokers = non_smoker.groupby('age')['heartRate'].mean().reset_index()
group_non_smokers

group_smokers = smoker.groupby('age')['heartRate'].mean().reset_index()
group_smokers

    age  heartRate
0    33  76.000000
1    34  74.000000
2    35  74.789474
3    36  74.216216
4    37  76.027778
5    38  72.232143
6    39  76.239437
7    40  77.885714
8    41  73.083333
9    42  75.042857
10   43  75.050000
11   44  73.746032
12   45  77.333333
13   46  77.038961
14   47  75.173077
15   48  75.176471
16   49  73.868852
17   50  75.791045
18   51  74.200000
19   52  76.560440
20   53  77.125000
21   54  74.437500
22   55  74.305263
23   56  73.397059
24   57  74.027778
25   58  75.343750
26   59  74.197368
27   60  75.342857
28   61  73.770270
29   62  74.202899
30   63  75.129870
31   64  76.469697
32   65  74.200000
33   66  80.714286
34   67  73.448276
35   68  80.166667
36   69  80.500000
37   70  64.000000